* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-size: 15;
    text-align: center;
}

body {
  background: hsl(212, 45%, 89%);
  padding: 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
    padding: 30px;
    max-width: 400px;
    width: 100%;
}

.qr-div {
    background: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    max-width: 600px;
}

#qr-img {
    max-width: 400px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.qr-text {
    margin: 10px;
}

h3 {
    margin: 5px;
    color: hsl(218, 44%, 22%);
}

p {
    margin: 5px;
    color: hsl(216, 15%, 48%);
}