* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
}

.qr-div {
    background: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 20px;
    max-width: 320px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

img {
    width: 100%;
    border-radius: 10px;
}

h3 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    margin: 20px 0 15px 0;
    text-align: center;
}

p {
    color: hsl(216, 15%, 48%);
    font-weight: 400;
    margin: 0 0 20px 0;
    text-align: center;
    padding: 0 10px;
}